html {
    font-family: cursive;
}

.main-container {
    position: absolute;
    top: 40%;
    left : 50%;
    transform: translate(-50% , -50%);
    background-color: antiquewhite;
    width: 400px;
    box-shadow:0 0 5px; 
}

h1{
    text-align: center;
}

.drop-down {
    margin-top: 4px;
    display: flex;
    justify-content: space-evenly;
    background-color: aliceblue;

}

img{
    height: 20px;
    width : 20px;
    bottom:6px;
}



select{
    border: none;
    background: transparent;
    background-color: aliceblue;


}

button {
    margin-left : 140px;
    border: none;
    border-radius: 6px;;
    background-color: #0891b2;
    color: white;
}

.find {
    margin-top: 40px;

}

.drop-down {
    margin-top: 22px;
}